# A Tableau movie
1.  Let's import the packages:

In [7]:
import numpy as np
import pandas as pd
import jupytab
from PIL import Image, ImageSequence

2.  We load a set of images from a GIF animated sequence and create a DataFrame with frame position and pixel intensity along X,Y coordinates
<img src="tenor.gif" alt="Mickey" style="width: 400px;"/>

In [6]:
img = Image.open('tenor.gif')
tab_array = []
for frame_idx, frame in enumerate(ImageSequence.Iterator(img)):
    narray = np.array(frame)
    for row_idx, row in enumerate(narray):
        for col_idx, color in enumerate(row):
            tab_array.append([frame_idx, row_idx, col_idx, color])

movie_df = pd.DataFrame(columns=['frame_idx', 'row_idx', 'col_idx', 'color'], data=tab_array)
movie_df.sample(3)

        frame_idx  row_idx  col_idx  color
194640         43       37       24    246
28958           6       30       14    167
148937         33       22       41    197

## Jupytab
Creating Tables referential with prepared DataFrame

In [8]:
tables = jupytab.Tables()
tables['movie'] =  jupytab.DataFrameTable('A Tableau motion picture', movie_df)

Render the Jupytab schema

In [9]:
# GET /schema
tables.render_schema()

[{"id": "movie", "alias": "A Tableau motion picture", "columns": [{"id": "frame_idx", "dataType": "int"}, {"id": "row_idx", "dataType": "int"}, {"id": "col_idx", "dataType": "int"}, {"id": "color", "dataType": "int"}]}]

Render the Jupytab datas

In [10]:
# GET /data
tables.render_data(REQUEST)

NameError: name 'REQUEST' is not defined