# Create an simple animated whirlwind
1.  Let's import the packages:

In [22]:
import pandas as pd
import numpy as np
import math
import jupytab

2.  The vortex is multiple circle drawn using basic trigonometry (sin, cos) with a larger radius at each step. A frame idx allow to add an animation on size.
![title](Circle_cos_sin.gif)

In [23]:
frame_count = 50
circle_count = 5
circle_steps = 100

# Generate a 0 to 1 array with circle_steps
lin_array = np.linspace(0.0, 1.0, circle_steps)

vortex_df = pd.DataFrame()
for frame in range(0,frame_count):
    index = (lin_array + (frame / frame_count)) * math.pi * 2
    vortex_df = vortex_df.append(pd.DataFrame(
        { 'x': np.cos(index * circle_count) * lin_array,
          'y': np.sin(index * circle_count) * lin_array,
          'z': np.cos(index),
          'frame': frame
        }))
vortex_df.sample(3)

           x         y         z  frame
90  0.856222 -0.305499 -0.847375     34
53  0.529660 -0.077870 -0.791515     43
66 -0.652098 -0.138608 -0.268920      2

## Jupytab
Creating Tables referential with prepared DataFrame

In [16]:
tables = jupytab.Tables()
tables['vortex'] = jupytab.DataFrameTable('An animated vortex', vortex_df)

Render the Jupytab schema

In [17]:
# GET /schema
tables.render_schema()

[{"id": "vortex", "alias": "An animated vortex", "columns": [{"id": "x", "dataType": "float"}, {"id": "y", "dataType": "float"}, {"id": "z", "dataType": "float"}]}]

Render the Jupytab datas

In [18]:
# GET /data
tables.render_data(REQUEST)

NameError: name 'REQUEST' is not defined